body
{
  background: url("../img/Back drop 1.svg")  no-repeat;
  background-position: bottom center;
  background-size:contain;
  font-size:24px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;

}
.navbar
{
    background-color: #33A0D9 !important;
}
.navbar .btn
{
  background-color: #ffff;
  font-size:24px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.navbar-nav a, .navbar-nav button
{
    color: black !important;
}
#password-box
{
   
    height: 80vh;
}
#password-box .btn{
    font-size:24px;
  font-weight: bold;
 
}

#pass-reset
{
    font-size: 48px;
}

#new-pass-err, #con-pass-err
{
    font-size: 14px;
    font-style: italic;
    color: #EB5757;
}

.err-border {
    border-color: #EB5757;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(235, 87, 87, 0.6);
  }

#after-submit-block
  {
      display:none;
  }

.letter-spacing
{
    letter-spacing: 0.205em;
}

.poppins
{
    font-family: poppins !important;
}
footer{
    background-color: #2180B2;
    padding: 0.4em 0em;
}

@media(max-width:768px)
{
footer ul{
   display: block !important;
   text-align: center;
}
}
@media(max-width:1200px)
{
.navbar li {
 
 text-align: center;
 margin:auto;

}
}